<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDzhq5pOmFFGGqFt0be_0Oxhlz2tbkhh3k</string>
	<key>GCM_SENDER_ID</key>
	<string>230126129231</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.arogyasair</string>
	<key>PROJECT_ID</key>
	<string>arogyasair-157e8</string>
	<key>STORAGE_BUCKET</key>
	<string>arogyasair-157e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:230126129231:ios:a5c3b8fb08971154fe9a3a</string>
	<key>DATABASE_URL</key>
	<string>https://arogyasair-157e8-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>